html, body, #root, .landing-root {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.landing-root {
	background-color: #000;
	color: #fff;
}

.landing-hero {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000;
}

.landing-infinite {
	width: 100%;
}

.landing-panel {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000;
}


